<section class="home about">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <h1>{{ _('About') }}</h1>
                <p>{{_("Tinybee is the ultimate crowdsourcing framework to analyze or enrich data
that can't be processed by machines alone.")}}</p>
                <p>
                <ul>
                    <li>Coming soon ...</li>
                </ul> 
                </p>

                <p>
                {{ _('You can read more about the architecture in the') }} <a href="http://docs.pybossa.com/">{{ _('PYBOSSA Documentation') }}</a> {{ _('and follow the') }} <a href="http://docs.pybossa.com/user/tutorial/">{{ _('step-by-step tutorial to create your own projects') }}</a>.
                </p>
            </div>
        </div>
    </div>
</section>
